# ไม่ต้องเอาประวัติ Git ไป
.git
.gitignore
README.md

# ไม่ต้องเอาคลังไลบรารีเครื่องเราไป (เดี๋ยวไปสั่งติดตั้งใหม่ในตู้สะอาดๆ)
**/node_modules/
**/npm-debug.log*

# ไม่ต้องเอาไฟล์โค้ด C++ ของบอร์ด M5Stack ไปในตู้เซิร์ฟเวอร์
/firmware/

# ไม่ต้องเอาไฟล์ Build เก่าของหน้าเว็บไป
/frontend/dist/
/frontend/build/

# ดักจับไฟล์ความลับ ห้ามหลุดเข้าไปใน Image เด็ดขาด
**/.env*
**/*.pem
**/*.key